<div class="container page-container">
    <div class="container title-container">
        <div class="container logo-container">
            <img src="../../assets/images/ix-logo.png" alt="Index Exchange" width="92px" height="76px">
        </div>
        <div class="container heading-container">
            <h1>IX House Cup Leaderboard</h1>
        </div>
    </div>
    <div class="container house-leaderboard-container">
        <app-team-leaderboard></app-team-leaderboard>
    </div>
    <div class="container individual-leaderboard-container">
        <app-individual-leaderboard></app-individual-leaderboard>
    </div>
</div>
